h1{

    color: red;
    font-size: 90px;
    background-color: rgb(201, 24, 97);
}

h2{  
    height: 120px;
    width: 120px;
    color: blue;
    text-align: center;
    background-color: brown;
   

}

